<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700">
        <title>Natours | Your account</title>
    </head><body data-alert="">
        <!-- HEADER-->
        <header class="header">
            <nav class="nav nav--tours">
              <a href="/" class="nav__el">All tours</a>
              <form class="nav__search">
                <button class="nav__search-btn">
                  <svg>
                    <use xlink:href="img/icons.svg#icon-search"></use>
                  </svg>
                </button>
                <input
                  type="text"
                  placeholder="Search tours"
                  class="nav__search-input"
                />
              </form>
            </nav>
            <div class="header__logo">
              <img src="img/logo-white.png" alt="Natours logo" />
            </div>
            <nav class="nav nav--user">
              <% if(currentUser){ %>
              <a href="/api/v1/users/logout" class="nav__el">Logout</a>
              <a href="/me" class="nav__el">
                <img src="img/users/user.jpg" alt="" class="nav__user-img" />
                <span><%=currentUser.name%></span>
              </a>
              <%}else{%>
              <a class="nav__el" href="/login">Log in</a>
              <a class="nav__el nav__el--cta" href="/signup">Sign up</a>
              <%}%>
            </nav>
          </header>
            <!-- CONTENT-->
            <main class="main">
                <div class="user-view">
                    <nav class="user-view__menu">
                        <ul class="side-nav">
                            <li class="side-nav--active">
                                <a href="#"><svg><use xlink:href="img/icons.svg#icon-settings"></use></svg>Settings</a></li>
                                <li><a href="/my-tours"><svg><use xlink:href="img/icons.svg#icon-briefcase"></use></svg>My bookings</a></li>
                                <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-star"></use></svg>My reviews</a></li>
                                <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-credit-card"></use></svg>Billing</a></li>
                            </ul>
                        </nav>
                        <div class="user-view__content">
                            <div class="user-view__form-container">
                                <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
                                <form class="form form-user-data" action="/submit-user-data" method="post">
                                    <div class="form__group">
                                    <label class="form__label" for="name">Name</label>
                                    <input class="form__input" id="name" type="text" value="<%=currentUser.name%>" required name="name"></div>
                                    <div class="form__group ma-bt-md">
                                        <label class="form__label" for="email">Email address</label>
                                        <input class="form__input" id="email" type="email" value="<%=currentUser.email%>" required name="email"></div>
                                        <div class="form__group form__photo-upload"><img class="form__user-photo" src="/img/users/default.jpg" alt="User photo">
                                            <input class="form__upload" type="file" accept="image/*" id="photo" name="photo">
                                            <label for="photo">Choose new photo</label>
                                        </div>
                                        <div class="form__group right">
                                            <button class="btn btn--small btn--green">Save settings</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="line">&nbsp;</div>
                                <div class="user-view__form-container">
                                    <h2 class="heading-secondary ma-bt-md">Password change</h2>
                                    <form class="form form-user-password">
                                        <div class="form__group">
                                            <label class="form__label" for="password-current">Current password</label>
                                            <input class="form__input" id="password-current" type="<%=currentUser.password%>" placeholder="••••••••" required minlength="8"></div>
                                            <div class="form__group">
                                                <label class="form__label" for="password">New password</label>
                                                <input class="form__input" id="password" type="password" placeholder="••••••••" required minlength="8"></div>
                                                <div class="form__group ma-bt-lg">
                                                    <label class="form__label" for="password-confirm">Confirm password</label>
                                                    <input class="form__input" id="password-confirm" type="password" placeholder="••••••••" required minlength="8"></div>
                                                    <div class="form__group right">
                                                        <button class="btn btn--small btn--green btn--save-password">Save password</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                                <!-- FOOTER-->
                                <footer class="footer">
                                    <div class="footer__logo">
                                        <img src="/img/logo-green.png" alt="Natour logo">
                                    </div>
                                    <ul class="footer__nav">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Download apps</a>
                                        </li><li><a href="#">Become a guide</a>
                                        </li><li><a href="#">Careers</a>
                                        </li><li><a href="#">Contact</a>
                                        </li></ul>
                                        <p class="footer__copyright">© 2022 by Jonas Schmedtmann.</p></footer>
                                        <!-- <script src="https://js.stripe.com/v3/"></script>
                                        <script src="/js/bundle.js"></script></body></html> -->